<%- include ('./base/header')   -%>
    <div class="container mt-2">
        <h2>Feeds </h2>
        <hr>
        <div id="posts-container">

        <% for(let post of posts){ %>
            <div class="card mb-3 shadow">
                <div class="card-body">
                    <h4 class="card-title"><%=post.title%></h4>
                    <h6 class="card-subtitle mb-2 text-muted"> <%= post.username %> </h6>
                    
                    <p class="card-text"><%= post.content %></p>
                </div>
            </div>
            <%}%>


        </div>
    </div>
        
<%- include('./base/footer') -%>